@charset "utf-8";

@mixin fonts($primaryFont: null) {
  font-family:
    $primaryFont,
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
}

@mixin cursor-auto {
  cursor: auto !important;
}

@mixin cursor-pointer {
  cursor: pointer !important;
}
